# foreach
snippet foreach
	foreach(${1:current}, ${2:MY_QLIST})
	{
		${3:/* code */}
	}
snippet debug
	qDebug() << "[Debug] $1 (" << ${1:my_variable} << ")";${2}
snippet debu
	qDebug() << "[Debug] $1 (" << ${1:my_variable} << ")";${2}
snippet Inc Cpp file with .hpp file
	#include "${1:`Filename("$1")`}.hpp"${2}
snippet Inc Cxx file with .hxx file
	#include "${1:`Filename("$1")`}.hxx"${2}
