snippet h1
	<h1>${1:content}</h1>
snippet h2
	<h2>${1:content}</h2>
snippet h3
	<h3>${1:content}</h3>
snippet p
	<p>${1:content}</p>
snippet img
	<img src="{% static '${1:source}' %}" alt="${2:name image}" />${3}
snippet div
	<div class="${1:cl}">
		${2}
	</div>
snippet hr
	<hr/>${1}
