snippet tpl
	Title: ${1:#THIS IS TITLE#}
	Date: `system("date +%Y-%m-%d")`
	Category: ${2:#CATEGORY#}
	Tags: aRkadeFR, ${3:#OTHER_TAGS#}
	Slug: ${4:#SLUG#}
	Author: aRkadeFR
	Summary: ${5:#SUMMARY}

	${6:#BODY#}
