snippet comp "Component" w
import React from 'react';
import { render } from 'react-dom';


export class $0 extends React.Component {

  constructor(props) {
    super(props);
  }

  render() {
    return (
    )
  }
}
endsnippet

snippet log "console log" w
console.log("$0");
endsnippet
